.MAIN{
    display: flex;
    justify-content: space-between;
    border: solid 2px rgb(249, 243, 243);
    width: 500px;
    height: 19px;
}
.CONTAINER{
    display: flex;
    
}input
{
    margin-left: 50px;
    width: 450px;
    height: 25px;
}
.Back img{
    height: 450px;
    width: 1550px;
}
.Back2 img{
    height: 450px;
    width: 1550px;
}
.PRO{
    display: flex;
    justify-content: space-between;
    width: 250PX;
    margin-left: 20px;
}
.logo img{
    height: 150px;
    width: 150px;
}